/* src/styles/global_styles.css */

/* Base Reset & Typography */
html,
body {
  font-family: system-ui, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ededed;
  color: #212529;
  overflow: hidden;
}

/* Utility Containers */
body {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}
